<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gtg.logistics.dao.ReportsMapper">

  <!-- 获得总记录数 -->
	<select id="getCount"  resultType="long">
		SELECT count(*) FROM emp
	</select>

</mapper>